@use "../variables/variables" as *;

.Main {
  margin: 0 4rem;
  padding: 20px 0;
  height: $main-height;

  overflow-y: auto;
  overflow-x: auto;

  @media only screen and (max-width: 821px) {
    margin: 0 1rem;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
